/* * {
    outline: 1px solid red;
} */

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
  }
/* Signin.blade.php start */
#siginSideB {
    background-image: url('/assets/img/signin/676345(4)2.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    color: #FFFFFF;
}

.signinSideA {
    color: #434343;
    font-size: 14px;
}
.signinSideAtittle {
    color: #001307;
    font-weight: 700;
    font-size: 50px;
    font-family: Montserrat;

}
#imglatop {
    width: 100%;
}
.form-control {
    height: 50px;
}
.siginSideBTxt {
    font-weight: 700;
}

.siginSideBbtn {
    width: 100%;
    font-weight: 600;
}
@media screen and (max-width: 1440px) {
    #siginSideB {
        min-height: 80vh;
    }
}

@media screen and (max-width: 1280px) {
    #siginSideB {
        min-height: 80vh;
    }
}
@media screen and (max-width: 1030px) {
    #imglatop {
        width: 60px;
    }
    .signinSideAtittle {
        font-size: 36px;
    }
}
@media screen and (max-width: 500px){
    .signinSideAtittle {
        font-size: 20px;
    }
}
/* Signin.blade.php end */

/* sideNav.blade.php start */

.sideNav {
    color: #FFFFFF;
    background-color: #002148;
    min-height: 100vh;
    position: relative;
}
.sideNavItem {
    line-height: 45px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 3px;
}

.sideNavLink {
    line-height: normal;
}

.sideNavItem .active {
    color: #FFFFFF !important;
    background-color: #2b7bdd59;
    border-right: 5px solid #8eb1db;
    border-radius: 0px;
}
.sideNavItem .logout {
    position: absolute;
    bottom: 10px;
}
/* sideNav.blade.php end */

/* topBAr.balde.php start */

.searchBar {
    background-color: #c4c4c4b2;
    border: #FFFFFF;
    height: 50px;
    width: 350px;
    border-radius: 10px;
    text-align: start;
    padding-left: 50px;
}

.searchIcon {
    position: absolute;
    left: 320px;
    top: 10px;
}

/* topBAr.balde.php end */

/* dashBoard.blade.php start*/
.welcomeTab {
    background-color: #145FB9;
    border-radius: 10px;
    color: #FFFFFF;
}
.TheadBlue {
    background-color: #006BEA !important;
    color: #FFFFFF;
    font-weight: 700 !important;
}

.statusG {
    background-color: #18CF77;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    color: #FFFFFF;
}

.statusR {
    background-color: #EE6243;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    color: #FFFFFF;
}

.TheadRed {
    background-color: #EE6243 !important;
    color: #FFFFFF;
    font-weight: 700 !important;
}

.checkText {
    font-size: 12px;
}

.quickLinks {
    background-color: #ddadad70;
    color: #565555;
    line-height: 35px;
}
.quickLinks a {
    color: #565555;
}
.notifications {
    background-color: #F8F8F8;
    border-radius: 10px 0px 0px 10px;
    border-left: 5px solid #18CF77;
}

.notiText {
    font-size: 10px;
    
}
.notiRed {
    font-size: 8px;
    color: #E33F1B;
}
/* dashBoard.blade.php end*/

/* Payments.blade.php start */
.PaymentThead {
    background-color: #145FB9 !important;
    color: #FFFFFF;
    font-weight: 700 !important;
}

.PaymentTbody {
    background-color: #D5E7FD;
    border-top: 15px solid #FFFFFF;
    border-bottom: 15px solid #FFFFFF;
}
.PaymentTbody td {
    font-weight: 500;
    font-size: 16px;
}
/* Payments.blade.php end */

/* Licence.blade.php start */
.LicenceTbody {
    background-color: #D5E7FD;
    border-top: 15px solid #FFFFFF;
    border-bottom: 15px solid #FFFFFF;
}
.LicenceTbody td{
    font-weight: 700;
    font-size: 16px;
    color: #5B5B5B;
}
/* Licence.blade.php end */

/* Support.blade.php start */
.SupportForm {
    background-color: #FFFFFF;
}

.SupportFormInput {
    background-color: #72b2ff14;
    border-radius: 10px;
}

.labels {
    font-size: 16px;
    color: #565555;
    font-weight: 500;
}
.SupportFormText {
    background-color: #72b2ff14;
    border-radius: 10px;
    height: 300px;
}
/* Support.blade.php end */

/* profile.blade.php start */
#saveChanges {
    font-weight: 700;
    font-size: 15px;
    align-self: center;
}
#ex1 {
    background-color: #EFEDED;
    border-radius: 10px;
}
.nav-link.active {
    background-color: #FFFFFF;
    color: #00489F;
    font-weight: 600;
    border: 1px solid #0000001a;
}
/* profile.blade.php start */