* {
    /* outline: 1px solid red; */
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
  }
/* Signin.blade.php start */
#siginSideB {
    background-image: url('/assets/img/signin/676345(4)2.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    color: #FFFFFF;
}

.signinSideA {
    color: #434343;
    font-size: 14px;
}
.signinSideAtittle {
    color: #001307;
    font-weight: 700;
    font-size: 50px;
    font-family: Montserrat;

}
#imglatop {
    width: 100%;
}
.form-control {
    height: 50px;
}
.siginSideBTxt {
    font-weight: 700;
}

.siginSideBbtn {
    width: 100%;
    font-weight: 600;
}
@media screen and (max-width: 1440px) {
    #siginSideB {
        min-height: 80vh;
    }
}

@media screen and (max-width: 1280px) {
    #siginSideB {
        min-height: 80vh;
    }
}
@media screen and (max-width: 1030px) {
    #imglatop {
        width: 60px;
    }
    .signinSideAtittle {
        font-size: 36px;
    }
}
@media screen and (max-width: 500px){
    .signinSideAtittle {
        font-size: 20px;
    }
}
/* Signin.blade.php end */

/* sideNav.blade.php start */

.sideNav {
    color: #FFFFFF;
    background-color: #072B57;
    min-height: 100vh;
    position: relative;
}
.sideNavItem {
    line-height: 45px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
}
.sideNavItem .active {
    color: #00489F !important;
    background-color: white;
}
.sideNavItem .logout {
    position: absolute;
    bottom: 0px;
}
/* sideNav.blade.php end */